{% extends "visualization/layout.html" %}

{% block heading %}Average Cases and Deaths{% endblock heading %}
{% block description %}
  A stacked bar graph visualization plotting the top 5 countries with the highest
  average daily cases in one month along with the total number of deaths in that month.
{% endblock description %}

{% block content %}
<div id="container" class="graph">
  <canvas id="bar-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

  var config = {
    type: 'bar',
    data: {
      datasets: [
        {
            label: 'Average Cases that Month',
            data: {{ new_cases|safe }},
            backgroundColor: '#7077ff',
            stack: 'stack1'
        },
        {
            label: 'Deaths that Month',
            data: {{ new_deaths|safe }},
            backgroundColor: '#ff4242',
            stack: 'stack1'
        }
      ],
      labels: {{ labels|safe }}
    },
    options: {
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true
        }],
        yAxes: [{
          stacked: true
        }]
      }
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('bar-chart').getContext('2d');
    window.myLine = new Chart(ctx, config);
  };

</script>

{% endblock %}
