{% extends "visualization/layout.html" %}

{% block heading %}Highest Average Cases and Deaths in One Month{% endblock heading %}

{% block content %}
<div id="container" class="graph">
  <canvas id="bar-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

  var config = {
    type: 'bar',
    data: {
      datasets: [
        {
            label: 'Cases that Month',
            data: {{ new_cases|safe }},
            backgroundColor: '#7077ff',
            stack: 'stack1'
        },
        {
            label: 'Deaths that Month',
            data: {{ new_deaths|safe }},
            backgroundColor: '#ff4242',
            stack: 'stack1'
        }
      ],
      labels: {{ labels|safe }}
    },
    options: {
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true
        }],
        yAxes: [{
          stacked: true
        }]
      }
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('bar-chart').getContext('2d');
    window.myLine = new Chart(ctx, config);
  };

</script>

{% endblock %}
